// COLORS //

$bronze: #ad856f;

$background: #222831;
$body-text: #f7f7f7;

// TIMELINE //

$background-components: #424242b2;
$text-timeline: #f1f1f1;
$border-timeline: #b5b5b5;

// SPACING //

$spacing-1: 1px;
