// COLORS //

$bronze: #ad856f;

$body-text: #f7f7f7;

// TIMELINE //

$background-components: #1f1e1e;
$text-timeline: #f1f1f1;
$border-card: #808080;
$separator: #d3d3d3;

// SPACING //

$spacing-1: 1px;
