footer {
  padding: 1rem 0;
  background-color: #424242b2;
  color: $body-text;
  text-align: center;
  font-family: Oswald;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: $spacing-1;

  p {
    font-size: 17px;
    letter-spacing: $spacing-1;
  }

  a {
    color: $bronze;
    font-weight: 400;
    font-size: 18px;
    &:hover {
      color: $body-text;
    }
  }
}
