.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $body-text;
  font-family: Oswald;

  h1 {
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 4px;
  }
  h2 {
    font-weight: 300;
    font-size: 30px;
    color: $bronze;
    letter-spacing: $spacing-1;
  }
}
